%h1 About Local Vertcoins

%hr

%h4 Origins

%p
  Local Vertcoins is an
  = link_to 'open-source', Settings.git.github_url, target: '_blank'
  project forked from Dashous, work of
  = link_to 'Brett Clanton', 'http://brettclanton.com', target: '_blank'
  which was
  = link_to 'initially funded', 'https://dashcentral.org/p/localbitcoins4dash', target: '_blank'
  by the Dash Treasury.

%p
  The goal was to replicate the base functionality of
  = link_to 'LocalBitcoins.com', 'https://localbitcoins.com', target: '_blank'
  for the Vertcoin community.

%h4 Ways to help
%ul
  %li= link_to 'Contribute to the project', Settings.git.github_url, target: '_blank'
  %li= link_to 'Join the Discussion', 'https://www.reddit.com/r/vertcoin', target: '_blank'
  %li= link_to 'Fund new features', donate_path
